/* portfolio elements */
#portfolio {
    height: 100%;
}

#portfolioContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.portfolioImage {
    background-color: whitesmoke;
    position: relative;
    margin: 15px;
    width: 272px;
    height: 160px;
    display: inline-block;
    text-align: left;
    border: 1px solid black;
    cursor: pointer;
}

.portfolioButton {
    position: absolute;
    top: 100px;
    left: 0px;
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgb(72,72,72);
    color: white;
    font-size: 12pt;
    cursor: pointer;
}

.portfolioButton:focus {
    outline: 0;
}

#randomTextFrame {
    padding: 5px 20px;
    font-size: 9pt;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    background-color: whitesmoke;
    top: 0;
}

#sourceMenu {
    display: none;
    position: absolute;
    background-color: lightgray;
    border: 2px ridge darkgray;
    cursor: pointer;
}