[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/jepidoptera/rock-paper-scissors.git
[submodule "random-text-generator"]
	path = random-text-generator
	url = https://github.com/jepidoptera/random-text-generator.git
[submodule "hangman"]
	path = hangman
	url = https://github.com/jepidoptera/hangman.git
[submodule "RPG"]
	path = RPG
	url = https://github.com/jepidoptera/RPG.git
[submodule "trivia-game"]
	path = trivia-game
	url = https://github.com/jepidoptera/trivia-game.git
[submodule "giphy-api"]
	path = giphy-api
	url = https://github.com/jepidoptera/giphy-api.git
[submodule "multiplayer-rps"]
	path = multiplayer-rps
	url = https://github.com/jepidoptera/multiplayer-rps.git
[submodule "The-Most-Badass-Project-Evah"]
	path = The-Most-Badass-Project-Evah
	url = https://github.com/jepidoptera/The-Most-Badass-Project-Evah.git
[submodule "node-hangman"]
	path = node-hangman
	url = https://github.com/jepidoptera/node-hangman.git
